* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(bg.jpg);
  background-size: cover;
  background-position: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  margin: 30px 30px;
}

.btn {
  padding: 8px 30px;
  background-color: #ee1717;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  border: 0.5px solid white;
}
.btn1 {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.btn img {
  height: 8px;
  margin-left: 10px;
}
.imgg {
  margin: 30px 30px;
  width: 200px;
}

.mid {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 200px;
}

.mid h2{
  font-size: 57px;
}

.mid2{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 22px;
  font-size: 27px;
}
.mid3{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 22px;
  font-size: 25px;
}

.input{
  text-align: center;
  margin-top: 20px;
}
.int{
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 160px;
  border: 1px solid rgb(105, 105, 102);
  background: rgba(34, 32, 32, 0.5);
  border-radius: 3px;
  margin-right: 5px;
}

.bt{
  padding: 9px 40px;
  font-size: 23px;
  padding-bottom: 10px;
  background-color: #ee1717;
  border: 1px solid #ee1717;
  color: white;
  border-radius: 3px;
}

.tt{
  color:white;
  margin-top: 130px;
}
.text{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.text img{
  width: 500px;
  height: 330px;
}
.th{
  color:white;
  margin-top: 11px;
}

/* .question{
  color:white;
  text-align: center;
}

input[type='radio']{
  display: none;
}

.sawal label{
  background-color: rgb(43, 43, 41);
  font-size: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 30px;
  line-height: 70px;
}

.question h1{
  padding-bottom: 40px;
}

.li1{
  padding-right: 150px;
} */

.faq{
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
  color: white;
}

.faq h2{
  font-weight: 500;
  font-size: 40px;
}

.accordion{
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li{
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}
label::after{
  content:'+';
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type = "radio"]{
  display: none;
}

.accordion .content{
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;  
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height : 600px;
  padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
  transform: rotate(135deg);
}

